:root{
     background-color: #A1B5D8;
 }

.main{
    background-color: #A1B5D8;
    padding: 15px;
}

.header{
    border-style: double;
    border-width: thin;
    text-align: center;
    background-color: #E4F0D0;
    padding: 5px;
}

.content{
    clear: left;
    padding: 10px;
    background-color: #A1B5D8;
}

.standardGreenTable{
    border-collapse: collapse;
    width: 100%;
}

.standardGreenTable td{
    text-align: left;
    padding: 4px;
}

.standardGreenTable tr{
    border-style: solid;
    border-width: medium;
}

.standardGreenTable th{
    border-style: solid;
    border-width: thick;
    text-align: center;
    background-color: #738290;
    padding: 20px;
    font-size: medium;
    font-style: italic;
}

.standardGreenTable tr:nth-child(odd) {
    background-color: #E4F0D0;
}

.standardGreenTable tr:nth-child(even){
    background-color: #C2D8B9;
}

.errorMessage{
    background-color: red;
    font-size: medium;
    font-style: italic;
}