#main{
    background-color: gray;
    size: auto;
    padding: 15px;
}

#header{
    text-align: center;
    background-color: darkseagreen;
    padding: 5px;
}

#content{
    padding: 10px;
    background-color: cadetblue;
}